@media only screen and ( max-width: 480px ) {
    .med-2, .lg-1 {
        display: none;
    }
}

@media only screen and ( min-width: 481px ) {
    .sm-4, .lg-1 {
        display: none;
    }
}

@media only screen and ( min-width: 1024px) {
    .lg-1 {
        display: block;
    }
    .sm-4, .med-2 {
        display: none;
    }
}

h1 {
    background-color: #a9a4a4;
    padding: 10px;
    
}

p {
    background-color: #a9a4a4;
    padding: 10px;
    
}

.bottom {
    background-color: yellow;
    padding: 10px;
}
