* {
    padding: 0px;
    margin: px;
}

#container {
    width: 970px;
    margin: 0 auto;
    border-left: 15px solid rgb(6,33,52);
    border-right: 15px solid rgb(6,33,52);
    border-bottom: 5px solid rgb(6,33,52);        
}

header {
    background-color: rgb(6,33,52);
    display: flex;
    width: 970px;
    justify-content: space-between;
    
}

header h1 {
    color: white;
    padding-left: 20px;
    padding-top: 2px;
    
}
header h2{
    padding-right: 190px;
    margin-bottom: 10px;
    font-size: 30px;
    color: rgb(28,153,232)

}
.blue {
    color:rgb(48,100,138);
}

.menu span{
    color: rgb(36,80,111);
    font-size: 15px;  
}
.menu {
    display: flex;
    align-items: left;
    text-decoration: none;
    color: white;
    font-family: sans-serif;
    padding-top: 10px;
}

.menu a{
    padding: 28px;
    text-decoration: none;
    color: white;
    font-size: 15px;
    padding-bottom: 25px;
    
}

main {
    background-color: white;
    border-bottom: 1px solid rgb(116,129,140);
    
}

.top_section img{
    padding-top: 18px;
    padding-left: 30px;
    width: 900px;
    height: 350px;

}

.mid_section{
    display: flex;
    font-family: sans-serif;
    height: 300px;
}
.mid_left {
    width: 280px;
    background-color: rgb(20,104,168);
    margin-left: 30px;
    margin-top: 15px;
}

.icons {
    display: flex;
    padding-left: 10px;
    
}

.icons img{
    height: 30px;
    width: 30px;
    /* background-color: black; */
    padding-top: 27px;
    
}
.icons h5{
    padding-left: 10px;
    color: white;
    font-size: 20px;
    font-weight: normal;
}
.mid_section p {
    padding-bottom: 10px;
    padding-left: 12px;
    padding-right: 12px;
    color: white;
    font-size: 14px;
}

.mid_section a{
    color: white;
    text-decoration: none;
    padding-left: 30px;
    background-position: center;

}
.button {
    padding-left: 20px;
    padding-bottom: 10px;
}
.button a{
    background-color: rgb(26,145,220);
    text-align: center;
    display: flex;
    width: 80px;
    height: 30px;
    padding-left: 20px;
    border-radius: 5px;
    padding-top: 10px;

}
.mid_center {
    width: 280px;
    background-color: rgb(20,104,168);
    margin-left: 30px;
    margin-top: 15px;
}   
    .mid_right {
    width: 280px;
    background-color: rgb(20,104,168);
    margin-left: 30px;
    margin-top: 15px;
}

.lower_section{
    display: flex;
    background-color: white;
}

.low_left {
    width: 280px;
    margin-left: 30px;
    margin-top: 15px;
}
.low_middle {
    width: 280px;
    margin-left: 30px;
    margin-top: 15px;
}
.low_right {
    width: 280px;
    margin-left: 30px;
    margin-top: 15px;
}

.lower_section h2{
    font-size: 19px;
    font-weight: normal;
    font-family: sans-serif;
}
.low_middle p{
    font-size: 13px;
    padding-top: 10px;
    

}

.low_middle a{
    text-decoration: none;
    color: rgb(135,170,195);
    font-size: 15px;
    
}

.low_right p{
    text-align: center;
    font-style: italic;
    font-size: 15px;
    background-color: rgb(218,237,255);
    height: 90px;
    font-family: sans-serif;
    color: rgb(94,117,135);
    padding-top: 15px;
    border-radius: 4px;
}

.low_right h6{
    color: rgb(94,117,135);
    font-size: 14px;
    font-weight: normal;
}
footer {
    text-align: center;
    background-color: rgb(218,237,255);
    height: 50px;
    padding-top: 20px;
    
    
}
footer a{
    text-decoration: none;
    padding: 15px;
    font-size: 12px;
    color:rgb(90,140,175);
    
    
}
footer span{
    color: rgb(168,209,241);
    font-size: 15px;
}