*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 18px;
  font-family: Verdana;
}
.w3-row-padding img{
  height:260px;

}

.icon i{
  color:rgb(32, 151, 243);
}
.social a {
  text-decoration: none;
}

.contact a, .contact h2{
  text-decoration: none;
  font-size: 30px;
}
.mySlide1 img, .mySlide2 img, .mySlide3 img{
  height: 400px;
}

.work {border-style: solid;
}


.footer {
 margin-right: 1000px
}

.parallax {
    background-image: url("img/img_parallax.jpg");
    min-height: 600px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    }
 .parallax2 {
    background-image: url("img/workpara.jpg");
    min-height: 350px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    }
    .parallax3 {
    background-image: url("img/edupara.jpg");
    min-height: 350px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    }
    .parallax4 {
    background-image: url("img/contactpara.jpg");
    min-height: 350px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    }

@media only screen and (max-device-width: 900px) {
  .parallax,.parallax2,.parallax3,.parallax4 {
    background-attachment: scroll; 
  }

  .parallax{
   min-height: 400px; 
    }
  .parallax2,.parallax3,.parallax4{
   min-height: 150px; 
    }

}
